<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta name="title" content="NodeZen">
    <meta name="description" content="Explore your interests in a revolutionary visual way, a free and inspiring social network to explore, discover and collaborate.">
    <meta name="keywords" content="symantic internet">
    <meta name="author" content="Node Ventures">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@NodeZenMCR">
    <meta name="twitter:title" content="NodeZen">
    <meta name="twitter:description" content="Explore your interests in a revolutionary visual way, a free and inspiring social network to explore, discover and collaborate.">
    <meta name="twitter:creator" content="@NodeZenMCR">
    <!-- <meta name="twitter:image:src" content="https://refme.co/assets/icons/logo_refme-cb939497de60a82cb04157ebf9c27f4f.png"> -->
    <meta name="twitter:domain" content="nodezen.me">
    <meta property="og:title" content="NodeZen"/>
    <meta property="og:url" content="http://www.nodezen.me"/>
    <meta property="og:site_name" content="NodeZen"/>
<!--     <meta property="og:image" content="https://refme.co/assets/icons/logo_refme-cb939497de60a82cb04157ebf9c27f4f.png" /> -->
    <meta property="og:description" content="Explore your interests in a revolutionary visual way, a free and inspiring social network to explore, discover and collaborate." />
    <meta property="fb:app_id" content="559421844192671" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeZen</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Google Analytics -->
    <%= analytics_init if Rails.env.production? %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
  <!-- twitter script -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</html>
